body {
    background-color: rgb(25, 70, 25);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(117, 0, 0);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    color: rgb(255, 255, 255);
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: autopx;
    height: auto;
    object-fit: cover;
    border: 10px outset red;
}
.content {
    flex: 1;
    padding: 15px;
    background-color: black;
    color: rgb(129, 0, 0);
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(95, 0, 95);
    color: rgb(255, 255, 255);
    font-family:serif red
}
h2, h3 {
    margin: 0px;
}
#grad {
    background-image: linear-gradient(red, rgb(0, 0, 0));